.container {
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 10px;

    /* 유리테두리 느낌나게 */
    background-color: rgba(255, 255, 255, 0.08);
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);

    color: white;
}

/* 제목 */
.title {
    font-size: 64px;
    font-weight: 700;

    margin: 0;

    text-shadow:
        2px 2px 8px rgba(0,0,0,0.5);
}

.cityName {
    width: 100%;
    text-align: left;
    font-size: 30px;
    color: white;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.7);
}

.cardtext {
    color: white;
    text-shadow: 2px 2px 6px rgba(0,0,0,0.8);
}

.weatherInfo {
    display: flex;
    align-items: center;
    gap: 8px;
}

.comentContainer {
    width: 100%;
    display: flex;
    background-color: rgba(0, 0, 0, 0.4);
    justify-content: center;
    padding: 10px 0;
    border-radius: 5px;
}

.weatherInfo h2 {
    font-size: 32px;
    font-weight: bold;
}

.container p {
    color: #e8e8e8;
    font-size: 14px;
}

.errorModal {
  position: fixed;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);

  background: rgba(30, 30, 30, 0.9);
  color: white;

  padding: 14px 24px;
  border-radius: 14px;

  font-size: 18px;
  font-weight: 600;

  backdrop-filter: blur(10px);

  box-shadow: 0 8px 20px rgba(0,0,0,0.25);

  z-index: 9999;

  animation: fadeIn 0.3s ease;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translate(-50%, -10px);
  }

  to {
    opacity: 1;
    transform: translate(-50%, 0);
  }
}