.TodoItem {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 15px 0;
    border-bottom: 1px solid rgb(220,220,220);
    transition: background-color 0.2s ease;
}

.TodoItem:hover {
  background-color: rgba(255,255,255,0.05);
}

.checkbox_col {
    width: 20px;
}

.title_col {
    flex: 1;
    transition: all 0.2s ease;
}

.date_col {
    font-size: 13px;
    color: gray;
}

.btn_col {
    color: gray;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
}

/* 체크박스 클릭시 */
.done {
    color: #8f8f8f;
    text-decoration: line-through;
    opacity: 0.6;
}