.container {
  width: 100%;
}

.header {
  text-align: center;
  padding: 10px;
  font-size: 2em;
  background-color: #248f8a;
}
/* 
.header h1 {
  font-size: 2em;
  font-weight: bold;
  margin: 0;
  color: black;
  /* color: rgb(61, 165, 225); */
/*} */

.dateweather {
    display: flex;
    gap: 2rem;
    color: white;
    font-size: 18px;
}

.maintitle {
  font-size: 2em;
  font-weight: bold;
  margin: 0;

  color: white;
  text-shadow:
  0 0 10px rgba(255,255,255,0.3),
  2px 2px 8px rgba(0,0,0,0.8);
}